a {
  text-decoration: none;
  color: #000 !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
  color: #111013;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}
a,
button,
img,
input {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a {
  text-decoration: none;
  color: #000 !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #034a26;
}

.btn.focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1240px;
}
.spacing {
  padding: 120px 0px;
}

button {
  padding: 8px 18px 9px 18px;
  background-color: #034925;
  border: 2px solid #034925;
  border-radius: 5px;
  color: #fff;
}
button:hover {
  background-color: #009248;
  border: 2px solid #034925;
}
p {
  font-size: 18px;
}

/*=============================================
  Pre
  Loader
  =============================================*/
.preloader-active {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
}
.preloader-active .preloader-area-wrap {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
}
.preloader-active .preloader-area-wrap .spinner div {
  background-color: #034a26;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.preloader-active .preloader-area-wrap .spinner div.bounce1 {
  animation-delay: -0.32s;
}
.preloader-active .preloader-area-wrap .spinner div.bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.preloader-area-wrap {
  display: none;
}

.open_tm_preloader {
  position: fixed;
  background-color: transparent;
  z-index: 9999;
  height: 100%;
  width: 100%;
  transition: 0.2s all ease;
  transition-delay: 0.5s;
}
.open_tm_preloader.loaded {
  opacity: 0;
  visibility: hidden;
}
.open_tm_preloader.loaded:before,
.open_tm_preloader.loaded:after {
  width: 0%;
}
.open_tm_preloader:before,
.open_tm_preloader:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.open_tm_preloader:before {
  top: 0;
  left: 0;
}
.open_tm_preloader:after {
  bottom: 0;
  right: 0;
}

/*=============================================
   Banner-section       
=============================================*/
.banner-section {
  padding: 60px 0px;
}
.banner-section .banner-top h1 {
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 600;
}

.banner-section .banner-top p {
  margin-bottom: 40px;
  font-size: 20px;
  width: 90%;
}
.banner-section .banner-top span {
  color: #034925;
}
.banner-section .banner-top .btn-cont,
.experience-section .experience-right .btn-cont,
.contact-section .contact-left .btn-cont {
  gap: 15px;
}
.banner-section .banner-top .btn-cont a,
.experience-section .experience-right .btn-cont a,
.contact-section .contact-left .btn-cont a {
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
}
/*=============================================
   Banner-section end       
=============================================*/

/*=============================================
   History-section       
=============================================*/
.history-section {
  background: #fafafa;
}
.history-section .vision {
  margin-bottom: 80px;
}

.history-section .vision span {
  color: #034925;
}
.history-section .vision .vision-img {
  width: 50%;
  border-radius: 5px;
}
/*=============================================
   History-section end  
=============================================*/

/*=============================================
   Highlight-section       
=============================================*/
.icon-bg {
  padding: 20px;
  background-color: #fff;
  border-radius: 100%;
  width: 120px;
}
.highlight-section {
  background-color: #034925;
}
.highlight-section .highlight-top {
  justify-content: center;
  margin-bottom: 50px;
}
.highlight-section .highlight-top .heading {
  flex-direction: column;
  align-items: center;
}
.highlight-section .highlight-top h2 {
  color: #fff;
}
.highlight-section .highlight-top p {
  color: #fff;
}
.highlight-section .highlight-bottom h4 {
  font-size: 25px;
  margin: 20px 0px 10px 0px;
  text-align: center;
  font-weight: 900;
  color: #fff;
}
.highlight-section .highlight-bottom p {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  margin: 0px;
}
/*=============================================
   Highlight-section End       
=============================================*/

/*=============================================
   Service-section       
=============================================*/
.service-section .service-top h4 {
  font-size: 18px;
  color: #034925;
  font-weight: 600;
  text-align: center;
}
.service-section .service-top h2 {
  text-align: center;
}
.service-section .service-top p {
  font-size: 18px;
  text-align: center;
}
.service-section .service-bottom {
  margin-top: 50px;
  gap: 20px 0px;
}
.service-section .service-bottom .custom_padding,
.service-section .team-bottom .custom_padding {
  padding: 0px 20px 0px 0px;
}
.service-section .service-bottom .service-cont {
  padding: 20px;
  border: none;
  height: 100%;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.service-section .service-bottom .service-cont img {
  border-radius: 5px;
}
.service-section .service-bottom .service-cont h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0px 6px 0px;
}
.service-section .service-bottom .service-cont p {
  margin-bottom: 20px;
}
.service-section .service-bottom .service-cont button,
.experience-section .experience-right button {
  padding: 8px 18px 8px 18px;
}
.service-section .service-bottom .service-cont button a {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
}
/* .service-section .service-bottom .service-cont:hover {
  background-color: rgba(144, 238, 144, 0.3);
} */
/*=============================================
   Service-section End       
=============================================*/
/*=============================================
   Experience-section       
=============================================*/
.experience-section .experience-left {
  padding: 0px 20px 0px 0px;
}
.experience-section .experience-right {
  padding: 0px 0px 0px 20px;
  align-content: center;
}
.experience-section .experience-right p {
  margin-bottom: 40px;
}

/*=============================================
   Experience-section End   
=============================================*/

/*=============================================
   Team-section       
=============================================*/
.service-section .team-bottom {
  margin-top: 50px;
}
.service-section .team-bottom .team-container {
  padding: 20px;
  border: none;
  height: 100%;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-section .team-bottom .team-container img {
  border-radius: 50%;
  width: 230px;
  object-fit: cover;
  height: 230px !important;
  object-position: 40% 10%;
}
.service-section .team-bottom .team-container h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0px 5px 0px;
  text-align: center;
}
.service-section .team-bottom .team-container p {
  text-align: center;
}
/*=============================================
   Team-section End 
=============================================*/

@media only screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }
  .spacing {
    padding: 60px 0px 60px 0px;
  }
  button {
    padding: 8px 16px 8px 16px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 25px;
  }
  .banner-section {
    padding: 50px 0px;
  }
  .banner-section .banner-top h1 {
    font-size: 26px;
    text-align: center;
  }
  .banner-top > :first-child {
    margin-bottom: 40px;
  }
  .banner-section .banner-top p {
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
  }
  .banner-section .banner-top .btn-cont a {
    font-size: 18px;
  }
  .banner-section .banner-top p {
    width: 100%;
  }
  .history-section .vision h2,
  .history-section .vision p {
    text-align: center;
  }
  .history-section .vision .vision-img {
    width: 100%;
  }
  .history-section .vision > :first-child {
    margin-bottom: 20px;
  }
  .history-section .history > :last-child {
    margin-bottom: 20px;
  }
  .history-section .history > :first-child {
    margin-bottom: 0px;
  }
  .highlight-section {
    padding-top: 60px;
  }
  .highlight-section .highlight-top h2 {
    text-align: center;
  }
  .highlight-section .highlight-top p {
    text-align: center;
  }
  .highlight-section .highlight-top {
    margin-bottom: 30px;
  }
  .highlight-section .highlight-bottom h4 {
    font-size: 22px;
  }

  .flex-wrap {
    gap: 30px 0px;
    justify-content: center;
  }
  .service-section .service-bottom {
    padding: 0px 15px;
  }
  .icon-bg {
    padding: 12px;
    width: 80px;
  }
  .service-section .service-bottom {
    margin-top: 30px;
  }
  .experience-section .experience-left {
    margin-bottom: 50px;
  }
  .experience-section .experience-left,
  .experience-section .experience-right {
    padding: 0px 15px;
  }
  .experience-section .experience-right p {
    margin-bottom: 25px;
  }
  .bg {
    padding: 40px 20px;
  }
  .service-section .team-bottom {
    margin: 0px;
    margin-top: 30px;
    gap: 20px 0px;
  }
  .service-section .team-bottom .custom_padding {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .spacing {
    padding: 80px 0px 80px 0px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  .banner-section {
    padding: 50px 15px;
  }
  .banner-section .banner-top h1 {
    font-size: 45px;
  }
  .banner-top > :first-child {
    margin-bottom: 40px;
  }
  .banner-section .banner-top p {
    margin-bottom: 30px;
  }
  .banner-section .banner-top .btn-cont a {
    font-size: 20px;
  }
  .banner-section .banner-top p {
    width: 100%;
  }
  .history-section,
  .highlight-section,
  .service-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .history-section .vision h2,
  .history-section .vision p {
    text-align: center;
  }
  .history-section .vision > :first-child {
    margin-bottom: 30px;
  }
  .history-section .history > :last-child {
    margin-bottom: 30px;
  }
  .history-section .history > :first-child {
    margin-bottom: 0px;
  }
  .highlight-section {
    padding-top: 80px;
  }
  .highlight-section .highlight-top h2 {
    text-align: center;
  }
  .highlight-section .highlight-top p {
    text-align: center;
  }
  .flex-wrap {
    gap: 50px 0px;
    justify-content: center;
  }
  .service-section .service-bottom {
    padding: 0px 15px;
  }
  .service-section .service-bottom {
    margin-top: 30px;
  }
  .experience-section .experience-left {
    margin-bottom: 50px;
  }
  .experience-section .experience-left,
  .experience-section .experience-right {
    padding: 0px 15px;
  }
  .experience-section .experience-right p {
    margin-bottom: 25px;
  }
  .contact-section {
    padding: 80px 15px;
  }
  .contact-section .contact-left {
    padding-right: 15px;
  }
  .contact-section .contact-right {
    padding-left: 15px;
    margin-top: 40px;
  }
}
