a {
  text-decoration: none;
  color: #000 !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
  color: #111013;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}
a,
button,
img,
input {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a {
  text-decoration: none;
  color: #000 !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #034a26;
}

.btn.focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.spacing {
  padding: 120px 0px;
}

button {
  padding: 8px 18px 9px 18px;
  background-color: #034925;
  border: 2px solid #034925;
  border-radius: 5px;
  color: #fff;
}
button:hover {
  background-color: #009248;
  border: 2px solid #034925;
}
p {
  font-size: 18px;
}

/*=============================================
  Pre
  Loader
  =============================================*/
.preloader-active {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
}
.preloader-active .preloader-area-wrap {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
}
.preloader-active .preloader-area-wrap .spinner div {
  background-color: #034a26;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.preloader-active .preloader-area-wrap .spinner div.bounce1 {
  animation-delay: -0.32s;
}
.preloader-active .preloader-area-wrap .spinner div.bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.preloader-area-wrap {
  display: none;
}

.open_tm_preloader {
  position: fixed;
  background-color: transparent;
  z-index: 9999;
  height: 100%;
  width: 100%;
  transition: 0.2s all ease;
  transition-delay: 0.5s;
}
.open_tm_preloader.loaded {
  opacity: 0;
  visibility: hidden;
}
.open_tm_preloader.loaded:before,
.open_tm_preloader.loaded:after {
  width: 0%;
}
.open_tm_preloader:before,
.open_tm_preloader:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.open_tm_preloader:before {
  top: 0;
  left: 0;
}
.open_tm_preloader:after {
  bottom: 0;
  right: 0;
}

/*=============================================
   Banner-section       
=============================================*/
.banner-section {
  padding: 60px 0px 90px;
}
.banner-section .banner-top h1 {
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 600;
}

.banner-section .banner-top p {
  margin-bottom: 40px;
  font-size: 20px;
  width: 90%;
}
.banner-section .banner-top span {
  color: #034925;
}
.banner-section .banner-top .btn-cont,
.experience-section .experience-right .btn-cont,
.contact-section .contact-left .btn-cont {
  gap: 15px;
}
.banner-section .banner-top .btn-cont a,
.experience-section .experience-right .btn-cont a,
.contact-section .contact-left .btn-cont a {
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
}
/*=============================================
   Banner-section end       
=============================================*/

/*=============================================
   text-section       
=============================================*/
.text-section {
  background: #fafafa;
}
.text-section .text-left {
  background-image: url("/images/Road_Ambulance/Call_banner.webp");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.text-section .text-left .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Change opacity or color here */
  z-index: 1;
}

.text-section .text-left .inner {
  position: relative;
  z-index: 2;
  text-align: center;
}
.text-section .text-left .inner h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.text-section .text-left .inner p {
  font-size: 18px;
  color: #fff;
}
.text-section .text-left .inner a {
  color: #fff !important;
}

.text-section .text-right {
  padding-left: 50px;
}
.text-section .text-right .inner .custom-margin {
  margin-bottom: 5px;
}
/*=============================================
   text-section end  
=============================================*/

/*=============================================
   Service-section       
=============================================*/
.service-section {
  background: #fafafa;
  padding-top: 0px;
}

.service-section .service-top h2 {
  text-align: center;
}

.service-section .service-top p {
  font-size: 18px;
  text-align: center;
}

.service-section .service-bottom {
  margin-top: 50px;
  gap: 30px 0px;
}

.service-section .service-bottom .custom_padding {
  padding: 0px 20px 0px 0px;
}

.service-section .service-bottom .service-cont {
  padding: 20px;
  border: none;
  height: 100%;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  border-radius: 5px;
  background: #fff;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.service-section .service-bottom .service-cont i {
  font-size: 40px;
  color: #034925;
}

.service-section .service-bottom .service-cont h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0px 10px 0px;
}

.service-section .service-bottom .service-cont p {
  margin-bottom: 30px;
}

.service-section .service-bottom .service-cont button,
.experience-section .experience-right button {
  padding: 8px 18px 8px 18px;
}

.service-section .service-bottom .service-cont button a {
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
}

.service-section .service-bottom .service-cont:hover {
  background-color: rgba(144, 238, 144, 0.3);
}

/*=============================================
   Service-section End       
=============================================*/

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .spacing {
    padding: 80px 0px 80px 0px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  .banner-section {
    padding: 50px 15px;
  }
  .banner-section .banner-top h1 {
    font-size: 45px;
  }
  .banner-top > :first-child {
    margin-bottom: 40px;
  }
  .banner-section .banner-top p {
    margin-bottom: 30px;
  }
  .banner-section .banner-top .btn-cont a {
    font-size: 20px;
  }
  .banner-section .banner-top p {
    width: 100%;
  }
  .text-section .text-right {
    padding-left: 0px;
    margin-bottom: 40px;
  }
  .text-section .text-left {
    margin: auto;
  }
  .text-section .text-left .inner h4 {
    font-size: 24px;
  }
  .text-section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .service-section .service-bottom {
    padding: 0px 15px;
  }
  .service-section .service-bottom {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }
  .spacing {
    padding: 60px 0px 60px 0px;
  }
  button {
    padding: 8px 16px 8px 16px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 25px;
  }
  .banner-section {
    padding: 50px 0px;
  }
  .banner-section .banner-top h1 {
    font-size: 26px;
    text-align: center;
  }
  .banner-top > :first-child {
    margin-bottom: 40px;
  }
  .banner-section .banner-top p {
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
  }
  .banner-section .banner-top .btn-cont a {
    font-size: 18px;
  }
  .banner-section .banner-top p {
    width: 100%;
  }
  .text-section .text-right {
    padding-left: 0px;
    margin-bottom: 40px;
  }
  .text-section .text-left {
    margin: auto;
  }
  .text-section .text-left .inner h4 {
    font-size: 24px;
  }
  .text-section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .service-section .service-bottom {
    padding: 0px 15px;
  }
  .icon-bg {
    padding: 12px;
    width: 80px;
  }
  .service-section .service-bottom {
    margin-top: 30px;
  }
}
