a {
  text-decoration: none;
  color: #000 !important;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  color: #111013;
}
a,
button,
img,
input {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a {
  text-decoration: none;
  color: #000 !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #034a26;
}

.btn.focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1240px;
}
.spacing {
  padding: 120px 0px;
}

button {
  padding: 12px 20px 12px 20px;
  background-color: #034925;
  border: 2px solid #034925;
  border-radius: 5px;
  color: #fff;
}
button:hover {
  background-color: #009248;
  border: 2px solid #034925;
}
/*=============================================
   Banner-section       
=============================================*/
.banner-section .banner-top h1 {
  margin-bottom: 35px;
}
.banner-section .banner-top p {
  margin-bottom: 30px;
  font-size: 18px;
  width: 80%;
}

/*=============================================
   Banner-section end       
=============================================*/
@media only screen and (max-width: 767px) {
  .spacing {
    padding: 60px 0px 60px 0px;
  }
  button {
    padding: 8px 16px 8px 16px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .spacing {
    padding: 80px 0px 80px 0px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}
