a {
  text-decoration: none;
  color: #000 !important;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  color: #111013;
}
a,
button,
img,
input {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a {
  text-decoration: none;
  color: #000 !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #034a26;
}

.btn.focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1240px;
}
.spacing {
  padding: 120px 0px;
}

button {
  padding: 12px 20px 12px 20px;
  background-color: #034925;
  border: 2px solid #034925;
  border-radius: 5px;
  color: #fff;
}
button:hover {
  background-color: #009248;
  border: 2px solid #034925;
}

/*=============================================
  Pre
  Loader
  =============================================*/
.preloader-active {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
}
.preloader-active .preloader-area-wrap {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
}
.preloader-active .preloader-area-wrap .spinner div {
  background-color: #034a26;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.preloader-active .preloader-area-wrap .spinner div.bounce1 {
  animation-delay: -0.32s;
}
.preloader-active .preloader-area-wrap .spinner div.bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.preloader-area-wrap {
  display: none;
}

.open_tm_preloader {
  position: fixed;
  background-color: transparent;
  z-index: 9999;
  height: 100%;
  width: 100%;
  transition: 0.2s all ease;
  transition-delay: 0.5s;
}
.open_tm_preloader.loaded {
  opacity: 0;
  visibility: hidden;
}
.open_tm_preloader.loaded:before,
.open_tm_preloader.loaded:after {
  width: 0%;
}
.open_tm_preloader:before,
.open_tm_preloader:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.open_tm_preloader:before {
  top: 0;
  left: 0;
}
.open_tm_preloader:after {
  bottom: 0;
  right: 0;
}

/*=============================================
   Banner-section       
=============================================*/
.banner-section .banner-top h1 {
  margin-bottom: 35px;
}
.banner-section .banner-top p {
  margin-bottom: 30px;
  font-size: 18px;
  width: 80%;
}

/*=============================================
   Banner-section end       
=============================================*/
@media only screen and (max-width: 767px) {
  .spacing {
    padding: 60px 0px 60px 0px;
  }
  button {
    padding: 8px 16px 8px 16px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .spacing {
    padding: 80px 0px 80px 0px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}
