/*============================
    CSS Index         
==============================

    01. Default Css
        - Breadvrumb 
        - Preloader   
        - Scroll top 
        - Dividers Css 
        - Google Map Css 
    02. Section Spacing Css
    03. Custom Animation Css
    04. container Css 
    05. Header Css 
        - language
        - Navigation Menu Css
        - Multilevel Submenu Css
        - Mega Menu Css
        - Mobile Menu Overlay Css
        - offset search
        - search overlay
    06. Footer Css
    07. Sidebar Css
    08. Button Css 
    09. Accordions Css 
    10. Call To Action Css  
    11. Countdown Css 
    12. Counters Css 
    13. Box Icon Css
    14. Box Images Css
    15. Box Large Images Css
    16. Brand Logo Css  
    17. Listing Css
    18. Gradation Process Css     
    19. Instagram Css     
    20. Message Box Css 
    21. Video Popup Css
    22. Pricing table Css
    23. progress Bar Css 
    24. Circle Progress Css
    25. Row Separators Css
    26. Social Networks Css 
    27. Listing Css
    29. Team Member Css 
    30. Timeline Css
    31. Testimonial slider Css 
    32. Project Css 
    33. Contact Us Css 
    34. Blog Pages Css
    35. Infotechno Css  
    36. Processing Hero Css
    37. Processing Hero Css
    38. Resolutions home Css
    39. Cybersecurity home Css  
    40. About Us pages Css
    41. Single Smart Vision Css
    42. Redraw Css
    43. Preview Page Css 


/*=====  End of CSS Index  ======*/
/*=============================================
=             01. Default Css                 =
=============================================*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Inter", sans-serif;
  color: #696969;
  position: relative;
  background-color: #ffffff;
}
body.no-overflow {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  color: #333333;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.3;
}

h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
  color: #111013;
}
h4 {
  font-size: 18px;
  color: #034925;
  font-weight: 600;
}

a,
button,
img,
input {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a {
  text-decoration: none;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #034a26;
}

.btn.focus {
  outline: none;
  box-shadow: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.form-messege.success,
.form-messege-2.success {
  color: green;
}
.form-messege.error,
.form-messege-2.error {
  color: red;
}

.mark,
mark {
  padding: 0 0;
  background-color: transparent;
}

button {
  padding: 12px 20px 12px 20px;
  background-color: #034925;
  border: 2px solid #034925;
  border-radius: 5px;
  color: #fff;
}
button:hover {
  background-color: #009248;
  border: 2px solid #034925;
}

.spacing {
  padding: 120px 0px 120px 0px;
}
p {
  font-family: poppins;
}
.container {
  max-width: 1240px;
}
/*=============================================
=                - Preloader                =
=============================================*/
.preloader-active {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
}
.preloader-active .preloader-area-wrap {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
}
.preloader-active .preloader-area-wrap .spinner div {
  background-color: #034a26;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.preloader-active .preloader-area-wrap .spinner div.bounce1 {
  animation-delay: -0.32s;
}
.preloader-active .preloader-area-wrap .spinner div.bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.preloader-area-wrap {
  display: none;
}

.open_tm_preloader {
  position: fixed;
  background-color: transparent;
  z-index: 9999;
  height: 100%;
  width: 100%;
  transition: 0.2s all ease;
  transition-delay: 0.5s;
}
.open_tm_preloader.loaded {
  opacity: 0;
  visibility: hidden;
}
.open_tm_preloader.loaded:before,
.open_tm_preloader.loaded:after {
  width: 0%;
}
.open_tm_preloader:before,
.open_tm_preloader:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.open_tm_preloader:before {
  top: 0;
  left: 0;
}
.open_tm_preloader:after {
  bottom: 0;
  right: 0;
}

/*=============================================
   - Scroll top         
=============================================*/
.scroll-top {
  position: fixed;
  right: 20px;
  bottom: -30px;
  z-index: 999;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  background-color: #034a26;
  background-size: 200% auto;
  background-position: left center;
  color: #ffffff;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
}

.scroll-top.show {
  visibility: visible;
  opacity: 1;
  bottom: 30px;
}

.scroll-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.scroll-top .arrow-top {
  transform: translate(-50%, -50%);
}
.scroll-top .arrow-bottom {
  transform: translate(-50%, 80px);
}
.scroll-top:hover {
  background-position: right center;
}
.scroll-top:hover .arrow-top {
  transform: translate(-50%, -80px);
}
.scroll-top:hover .arrow-bottom {
  transform: translate(-50%, -50%);
}

/*=====  End of Default CSS  ======*/

/*============================================
=           02. Section Spacing Css          =
=============================================*/

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*=============================================
=              05. Header Css            =
=============================================*/
.top-message {
  padding: 15px 0;
  margin: 0px;
  width: fit-content;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-weight: 500;
  transition: 0.3s all;
  cursor: pointer;
}
.top-message:hover {
  color: #fffafa;
}
.header-top-wrap {
  background-color: #034925;
}

.header-area {
  position: relative;
  z-index: 1000;
}
.header-area .is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  z-index: 1000;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header-area--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.header-area--absolute__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.header-area--default {
  border-color: #e4e8f6;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.header__logo {
  flex-basis: 20%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header_logo > a img {
  width: 100%;
}
.header__logo.top-logo {
  padding: 25px 0;
}
.header.default-menu-style .header-midle-box {
  display: flex;
  justify-content: center;
}

.number-section a {
  font-size: 20px;
}

.header-number-section .number-section a {
  color: #034925 !important;
  font-weight: 600px;
}

.navigation-menu > ul {
  display: flex;
}
.navigation-menu > ul > li {
  margin: 0 24px;
}

.navigation-menu > ul > li > a {
  display: block;
  padding: 3px 0px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  transition: all 0s ease-in-out;
}
.navigation-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #034a26;
  transition: all 0.3s ease-in-out;
}
.navigation-menu > ul > li.has-children > a::after {
  position: static;
  margin-left: 8px;
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.navigation-menu > ul > li.has-children--multilevel-submenu {
  position: relative;
}

.navigation-menu > ul > li.has-children:hover > .submenu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.navigation-menu > ul > li:hover > a:before,
.navigation-menu > ul > li.active > a:before {
  width: 100%;
  left: 0;
}

/*===================================
    - Multilevel Submenu Css
====================================*/
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #034a26;
  background-color: #f7f7f7;
  transition: all 0.4s ease 0.2s;
  opacity: 0;
  visibility: hidden;
  min-width: 260px;
  padding: 10px 0 10px 0px;
  z-index: 9;
  border-radius: 5px;
}
.submenu > li {
  position: relative;
}
.submenu > li > a {
  display: block;
  padding: 5px 20px;
  font-weight: 400;
}
.submenu > li > a > span {
  position: relative;
  font-size: 16px;
  padding-bottom: 5px;
}
.submenu > li > a > span:after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  background-color: #034a26;
  transition: all 0.3s ease-in-out;
}
.submenu > li:hover > a > span {
  color: #034a26;
}
.submenu > li > a:hover > span:after {
  width: 100%;
  left: 0;
  right: auto;
}

/* Mobile Mavigation icon */
.mobile-navigation-icon {
  width: 24px;
  height: 25px;
  position: relative;
  display: inline-block;
}

/* Hamburger icon */
.mobile-navigation-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mobile-navigation-icon i:before {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  content: "";
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mobile-navigation-icon i:after {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  content: "";
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*================================ 
    - Mobile Menu Overlay Css
==================================*/
.mobile-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
}
.mobile-menu-overlay__inner {
  transform: translateX(-120%);
  width: 60%;
  height: 100%;
  float: left;
  background: #034a26;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow-y: auto;
}

.mobile-menu-overlay.active {
  visibility: visible;
  opacity: 1;
}
.mobile-menu-overlay.active .mobile-menu-overlay__inner {
  transform: translateX(0%);
}

.mobile-menu-overlay__header {
  background-color: #ffffff;
  padding: 15px 0px;
}

/* mobile close icon */
.mobile-menu-overlay__header .mobile-navigation-close-icon {
  position: relative;
  cursor: pointer;
  height: 40px;
  width: 40px;
  line-height: 40px;
  display: inline-block;
}
.mobile-menu-overlay__header .mobile-navigation-close-icon:before {
  position: absolute;
  top: 23px;
  left: 8px;
  content: "";
  width: 24px;
  height: 3px;
  background: #333333;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mobile-menu-overlay__header .mobile-navigation-close-icon:after {
  position: absolute;
  top: 23px;
  left: 8px;
  content: "";
  width: 24px;
  height: 3px;
  background: #333333;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-menu-overlay__body {
  padding: 20px 20px;
}
.mobile-menu-overlay__body .offcanvas-navigation > ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li:first-child a {
  padding: 10px 0px 5px 0px;
}
.mobile-menu-overlay__body .offcanvas-navigation > ul > li > a,
.number-section-mob {
  display: block;
  color: #ffffff;
  padding: 20px 0px 5px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li:last-child {
  border-bottom: 0;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children {
  position: relative;
}

/* dropdown icons */
.mobile-menu-overlay__body
  .offcanvas-navigation
  > ul
  > li.has-children.active
  .menu-expand:before {
  content: "\f106";
}
.mobile-menu-overlay__body
  .offcanvas-navigation
  > ul
  > li.has-children
  .menu-expand {
  position: absolute;
  right: 0;
  top: 12px;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.mobile-menu-overlay__body
  .offcanvas-navigation
  > ul
  > li.has-children
  .menu-expand:before {
  content: "\f107";
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
.mobile-menu-overlay__body
  .offcanvas-navigation
  > ul
  > li.has-children
  .sub-menu {
  padding: 12px 0 12px 10px;
}
/* .mobile-menu-overlay__body
  .offcanvas-navigation
  > ul
  > li.has-children
  .sub-menu
  li{
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
} */
.mobile-menu-overlay__body
  .offcanvas-navigation
  > ul
  > li.has-children
  .sub-menu
  li
  a {
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  line-height: 1.5;
  padding: 8px 0;
}

/*================================ 
    - Slider Banner
==================================*/

.bg {
  position: relative;
  background-image: url("/images/Home/air_ambulance.png");
  background-size: cover;
  align-content: center;
  display: flex;
  align-items: center;
  color: white;
  z-index: 1;
  overflow: hidden;
  background-position: center;
}
.bg-1 {
  background-image: url("/images/Home/ambulance_banner.webp");
}
.bg-2 {
  background-image: url("/images/Home/train-service.jpg");
}
.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65); /* Black overlay with 50% opacity */
  z-index: -1; /* places behind content but above background image */
}

.bg .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px 80px 0px;
}

.bg h2 {
  width: 65%;
  text-align: center;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 15px;
  z-index: 10;
}

/* background: linear-gradient(180deg, #034a26, #a3e635); */
/* .bg h2 span {
  background: linear-gradient(180deg, #ffffff, #0f766e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.bg p {
  width: 65%;
  text-align: center;
  font-size: 20px;
  color: #fffafa;
  margin: 0px;
}
.hero-btn {
  margin-top: 40px;
  gap: 20px;
}

.carousel-control-prev {
  left: 20px;
}
.carousel-control-next {
  right: 20px;
}
.carousel-control-prev,
.carousel-control-next {
  top: 40%;
  opacity: 0.9;
}
.carousel-control-prev,
.carousel-control-prev:hover,
.carousel-control-next,
.carousel-control-next:hover {
  background-color: #034925;
  border-radius: 50%;
  padding: 12px;
  width: fit-content;
  height: fit-content;
  border: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

/* Discount CSS */
.discount-btn {
  position: absolute;
  top: 5%;
  right: 2%;
  z-index: 5;
}
.dicount-btn-cont {
  position: relative;
}
.discount-img {
  width: 130px; /* Adjust size */
  height: auto;
  transition: transform 0.3s ease-in-out;
  animation: rotate360 16s linear infinite;
  z-index: 5;
}
.discount-img-inner {
  position: absolute;
  width: 100px;
  right: 11.5%;
  top: 6%;
  z-index: 5;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*================================ 
    - Service Section
==================================*/
.service-section {
  background-color: #fafafa;
}
.service-heading {
  font-size: 35px;
  font-weight: 600;
  line-height: 60px;
}
.service-bottom {
  margin-bottom: 50px;
}
.service-btn {
  gap: 20px;
  flex-wrap: wrap;
}
.service-section a {
  padding: 10px 15px 10px 15px;
  background-color: #034925;
  border: 2px solid #034925;
  border-radius: 5px;
  color: #fff !important;
}
.service-section a:hover {
  background-color: #000;
  border: 2px solid #034925;
}
.service-section .service-list {
  gap: 20px 0px;
  justify-content: center;
}
.card {
  padding: 20px;
  border: none;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
}
.card-img-top {
  border-radius: 5px;
}
.card-body {
  padding: 20px 0px 20px 0px;
}
.card-title {
  font-size: 24px;
  font-weight: 500;
}
.card-text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.event-ambulance-image {
  width: 79%;
  margin: auto;
}

/* Location Service */
.location-service {
  padding-top: 0px;
  background-color: #fafafa;
}

.location-top {
  margin-bottom: 40px;
}
.location-heading {
  font-size: 35px;
  margin-bottom: 5px;
}
.location-top p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.location-bottom {
  gap: 20px 0px;
}
.icon-bg {
  padding: 13px;
  background-color: rgba(144, 238, 144, 0.2);
  border-radius: 100%;
  width: 80px;
}
.location-bottom p {
  font-size: 20px;
  color: #111013;
  font-weight: 600;
}
.highlight-section,
.equipment-section {
  background: #078f41;
  padding: 80px 0px;
}
.highlight-icon-bg {
  background-color: #111013;
  padding: 13px;
  /* background-color: rgba(144, 238, 144, 0.2); */
  border-radius: 100%;
  width: 80px;
}
.counter-section h4 {
  font-size: 58px;
  color: #fff;
}
.counter-section p {
  font-size: 48px;
  font-weight: 900;
  margin: 0px 0px 0px 5px;
  color: #fff;
}
.counter-text {
  font-size: 20px;
  color: #fff;
}
.booking-process .steps-bottom {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border-top: solid;
  border-width: 5px;
  border-color: #034925;
}
.booking-process .steps::before {
  position: absolute;
  background: #333;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 75px;
  opacity: 0.1;
}
.booking-process .steps-bottom .steps-cont {
  display: block;
  padding: 30px 20px 45px;
}
.booking-process .steps-bottom .steps-cont span {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 55px;
  text-align: center;
}
.booking-process .steps-bottom .steps-cont span::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  background: #034925;
  left: 50%;
  margin-left: -6px;
  bottom: -30px;
  border-radius: 50%;
}
.booking-process .steps-bottom .steps-cont .card-title {
  text-align: center;
  color: #111013;
  margin-bottom: 10px;
}
.booking-process .steps-bottom .steps-cont p {
  text-align: center;
}
.steps-btn {
  justify-content: center;
}
.steps-btn a {
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.steps-btn a:hover {
  color: #034925 !important;
}
.steps-btn a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #034925;
  bottom: 0px;
  transition: all 0.3s ease-in-out;
}
.steps-btn a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background: #000;
  bottom: 0px;
  transition: all 0.6s ease-in-out;
}
.steps-btn a:hover::before {
  width: 0%;
}
.steps-btn a:hover::after {
  width: 100%;
  transform: translateX(-100%);
}
.choose-section .service-bottom p {
  font-size: 18px;
  margin: 0px;
}
.choose-section .choose-us-cont,
.equipment-section .equipment-cont {
  background: #fff;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-section .choose-us-icon,
.equipment-section .equipment-icon {
  margin-bottom: 20px;
}
.choose-section .choose-us-cont h4 {
  font-size: 22px;
  color: #111013;
  margin-bottom: 10px;
}
.custom-width-30 {
  width: 32.4%;
}
.choose-us-bottom {
  gap: 20px 15px;
  justify-content: center;
}
.equipment-section {
  padding: 120px 0px;
}
.equipment-section .equipment-heading {
  text-align: center;
  margin-bottom: 50px;
}
.equipment-section .equipment-heading h2 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 5px;
}
.equipment-section .equipment-heading p {
  color: #fff;
  font-size: 18px;
}
.equipment-section .equipment-item {
  gap: 20px 15px;
}
.equipment-section .equipment-item h4 {
  font-size: 22px;
  color: #111013;
  margin-bottom: 10px;
}
.faq-section .faq-top {
  margin-bottom: 50px;
}
.faq-section .faq-top h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 5px;
}
.accordion {
  padding: 40px 30px;
  background-color: #fff;
  box-shadow: 12px 19px 62px 0px rgba(13, 52.00000000000003, 79, 0.07);
  border-radius: 10px;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 0px;
}
.accordion button {
  border: 0px;
  border-radius: 0px;
  padding: 20px 20px 20px 0px;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
  color: #111013;
  font-size: 20px;
}

.accordion button:hover {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #cccccc;
  border-left: 0;
}
.accordion .accordion-item {
  border: 0px;
}
.accordion-button:focus {
  border: 0px;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  border: 0px;
  color: #111013;
  font-size: 20px;
  border: none;
}
.accordion-body {
  font-size: 18px;
  padding: 10px 15px 10px 15px;
}
.footer {
  background-color: #1e1e1e;
  padding: 80px 0px 0px;
}
.footer-top {
  margin-bottom: 40px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-widget__list li {
  margin-bottom: 10px;
  width: fit-content;
}
.footer-widget__list li a,
.footer-logo p {
  color: #fff !important;
}
.footer-logo p {
  margin-top: 20px;
}
.footer-widget__list li:hover a {
  color: #034925 !important;
  cursor: pointer;
}
.footer-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.footer_service {
  padding: 20px 30px 0px 30px;
}
.footer-top .service-left {
  padding-left: 80px;
}
.copyright {
  color: #ffffffc4;
  font-size: 18px;
}
.copyright .social-icons {
  display: flex;
  justify-content: center;
}
.copyright i {
  font-size: 22px;
  margin: 0px 12px;
}
.floating__rght__bx {
  position: fixed;
  top: 40%;
  right: 30px;
  z-index: 999;
}
.fltng__lst {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.fltng__lst > li {
  clear: both;
  position: relative;
  background: #fff;
  width: 75px;
  height: 75px;
  /* box-shadow: 0 4px 12px #e2e2e2; */
  border-radius: 50px;
  margin-bottom: 10px;
}
.fltng__lst > .first-icon:before {
  content: "";
  position: absolute;
  left: -6px;
  top: 43px;
  width: 93px;
  height: 70px;
  background: url(/images/Home/arrow.png) 0 0 no-repeat;
  background-size: 100%;
}
.floating__rght__bx .first-icon .icnbx,
.floating__rght__bx .second-icon .icnbx.social {
  background: #034925 url(/images/Home/WA-icon.png) no-repeat 50%;
  background-size: 35px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
}
.floating__rght__bx .second-icon .icnbx.social {
  background: #034925 url(/images/Home/Call-icon.png) no-repeat 50%;
  background-size: 30px;
}
.floating__rght__bx .icnbx {
  width: 60px;
  height: 60px;
  background: #034925;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-top: 8px;
  margin-left: 8px;
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .spacing {
    padding: 60px 0px 60px 0px;
  }
  button {
    padding: 8px 16px 8px 16px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 25px;
  }
  .scroll-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    bottom: -40px;
  }
  .scroll-top.show {
    bottom: 40px;
  }
  .section-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .header {
    padding: 0px 10px;
  }
  .header__logo {
    flex-basis: 50%;
    padding: 0px;
  }
  .top-message {
    padding: 12px 0;
    font-size: 14px;
  }
  .header-number-section {
    display: none;
  }
  .mobile-menu-overlay__inner {
    width: 70%;
  }
  .mobile-menu-overlay__header {
    padding: 10px;
  }
  .mobile-menu-overlay__header {
    background-color: #ffffff;
    padding: 15px 0px;
  }
  .number-section-mob {
    flex-wrap: wrap;
    gap: 15px !important;
  }
  .mobile-menu-overlay__body
    .offcanvas-navigation
    > ul
    > li.has-children
    .sub-menu
    li
    a {
    font-size: 16px;
    padding: 8px 0px;
  }
  .bg .text-container {
    padding: 70px 10px 90px 10px;
  }
  .bg h2 {
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .bg p {
    width: 100%;
    font-size: 18px;
  }
  .hero-btn {
    margin-top: 40px;
    gap: 20px;
  }
  .discount-btn {
    top: 0px;
  }
  .discount-img {
    width: 100px; /* Adjust size */
    height: auto;
    transition: transform 0.3s ease-in-out;
    animation: rotate360 16s linear infinite;
    z-index: 5;
  }
  .discount-img-inner {
    position: absolute;
    width: 70px;
    right: 15%;
    top: 11%;
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    display: none;
  }
  .card-title {
    margin-bottom: 5px;
  }
  .service-bottom {
    margin-bottom: 25px;
  }
  .service-section .service-list {
    gap: 20px 20px;
  }
  .service-heading {
    margin-top: 10px;
    line-height: 36px;
    font-size: 26px;
  }
  .location-service {
    padding-top: 40px;
  }
  .location-heading {
    font-size: 26px;
  }
  .location-top p {
    font-size: 16px;
    width: 100%;
  }
  .location-bottom p {
    font-size: 16px;
  }
  .icon-bg {
    padding: 14px;
    width: 70px;
  }
  .counter-section h4 {
    font-size: 45px;
  }
  .counter-section p {
    font-size: 40px;
  }
  .highlight-cont {
    gap: 25px;
  }
  .steps-bottom {
    width: 95%;
    margin: auto;
  }
  .choose-section .service-bottom h4,
  .choose-section .service-bottom h2 {
    text-align: center;
  }
  .custom-width-30 {
    width: 94%;
  }
  .choose-section .choose-us-bottom h4 {
    text-align: center;
  }
  .choose-section .service-bottom p {
    text-align: center;
  }
}

/* Tablets  */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .spacing {
    padding: 80px 0px 80px 0px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .scroll-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
  .scroll-top.show {
    bottom: 40px;
  }
  .section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .header__logo {
    flex-basis: 40%;
  }
  .header-number-section {
    display: none;
  }
  .bg h2 {
    width: 80%;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .bg p {
    /* display: -webkit-box;
  -webkit-line-clamp: 3;     
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
    width: 85%;
    font-size: 18px;
  }
  .discount-btn {
    top: unset;
    bottom: 12%;
  }
  .carousel-control-prev {
    left: 10px;
  }
  .carousel-control-next {
    right: 10px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
  }
  .service-bottom {
    margin-bottom: 40px;
  }
  .service-list .col-md-6 {
    padding: 0px 10px;
  }
  .service-section .service-list {
    gap: 20px 0px;
  }
  .service-heading {
    margin-top: 10px;
    line-height: 45px;
  }
  .location-service {
    padding-top: 50px;
  }
  .location-top p {
    width: 100%;
    font-size: 18px;
  }
  .steps-bottom {
    width: 95%;
    margin: auto;
  }
  .choose-section .service-bottom h4,
  .choose-section .service-bottom h2 {
    text-align: center;
  }
  .custom-width-30 {
    width: 48.9%;
  }
  .choose-section .choose-us-bottom h4 {
    text-align: center;
  }
  .choose-section .service-bottom p {
    text-align: center;
  }
  .choose-us-bottom {
    padding: 0px 30px;
  }
  .equipment-section{
    padding-top: 80px;
  }
  .equipment-section .equipment-item{
    padding: 0px 30px;
    justify-content: center;
    margin: 0px;
  }
  .footer-top .service-left{
    padding-left: 0px;
  }

}
